.DS_Store
private/
target/
config.yaml
server.p12
nb-configuration.xml
nbactions.xml
GEMINI.md
secrets
secret.bin
l9g-crypto-tool/data/
.vscode/
.idea/
*.log
*.tmp
*.bak
*.iml
*.class
*.jar
*.war
*.ear
*.swp
*~